<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.osu.com.passwordgenerator" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PasswordConfigurationActivity"
            android:label="@string/title_activity_password_configuration" >
        </activity>
        <activity
            android:name=".LightActivity"
            android:label="@string/title_activity_light" >
        </activity>
        <activity
            android:name=".ShakeActivity"
            android:label="@string/title_activity_shake" >
        </activity>
        <activity
            android:name=".SpeechActivity"
            android:label="@string/title_activity_speech" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
    </application>

</manifest>
